#!/bin/bash

# {{ ansible_managed }}

printInvalidArguments() {
    echo 'Invalid arguments' 1>&2
    echo 'Usage:'
    echo '    pin2dockbarx APP_ID DESKTOP_FILE_PATH'
    echo "    e.g. pin2dockbarx thunar '/usr/share/applications/Thunar-folder-handler.desktop'"
}

app_id="$1"
if [[ "$app_id" == '' ]]
then
    printInvalidArguments
    exit 2
fi

desktop_file="$2"
if [[ "$desktop_file" == '' ]]
then
    printInvalidArguments
    exit 2
fi

new_launcher="$app_id;$desktop_file"

# Get the current list of pinned applications
existing_launchers=$(gconftool-2 --get /apps/dockbarx/launchers 2> /dev/null)

if [[ $existing_launchers != '['* ]]
then
  existing_launchers='[]';
fi

echo "Currently pinned applications: $existing_launchers"
echo ''

# If an application is already in the list fail with exit code 1
if [[ $existing_launchers == *"$new_launcher"* ]]
then
  echo 'Application already pinned.' 1>&2
  exit 1
fi

# Append the new launcher to the end of the list
new_launchers="${existing_launchers%]},${new_launcher}]"

if [[ $new_launchers == '[,'* ]]
then
  new_launchers="[${new_launchers#[,}"
fi

echo "New list of applications: $new_launchers"
echo ''

# Update the list of launchers
if gconftool-2 --type list --list-type=string \
        --set /apps/dockbarx/launchers "$new_launchers"; then

    echo 'Changes applied'
    exit 0
else
    echo 'Unable to apply changes' 1>&2
    exit 3
fi
